form {
  display: flex;
  margin-bottom: 1rem;
margin: auto;
}

input[type='text'] {
  flex: 1;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}



